$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #c9e0fa;
  color: #000;
  padding: 0.2em 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding: 0;
  background: url(../images/cloud_bg.jpg); 
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
  background-color: #c9e0fa;
  font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 10px 30px 10px 30px;
  color: #524b3f;
  background-color: #fff;
  border-top: 1px solid #b8cce2;
}

/* Everything but the panel gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.container.heading {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  h1 {
    font-size: 4.5em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -25px;
  }
}
.lead {
  font-size: 1.3em;
  letter-spacing: 5px;
}
.btn-primary.light {
    background-color: #a0c6ea;
    border-color: #a0c6ea;
}
/* Main marketing message and sign up button */
.panel {
  margin-bottom: 150px;
  .form-heading {
    color: #d3a907;

    .wave {
      width: 100%;
      height: 45px;
      background: url(../images/wave-tile.jpg); 
      background-repeat: repeat-x;
      background-position: bottom left;
    }
    .wave > div {
      margin-left: 40px;
      margin-top: 20px;
      width: auto;
    }
    .step {
      margin-left: 10px;
    }
    .step-name {
      font-size: 1.8em;
      background-color: #fff;
      padding: 0 10px 0 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
    }
    .required {
      color: #C3C3C3;
      font-size: 0.8em;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      margin-right: 20px;
    }
  }
}

.form {
  padding: 0px 30px 20px 30px;
  color: #8B8B8B;
  font-size: 0.9em;

  .btn {
    color: #d3a907;
    width: 200px;
    text-align: left;
  }

  .btn .caret {
    float: right;
    margin-top: 8px;
  }

  .dropdown-menu > li > a {
    color: #d3a907;
    cursor: pointer;
  }

  .required {
    color: #d3a907;
  }

  .row {
    margin-top: 20px;
  }
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    /*padding-left: 0;
    padding-right: 0;*/
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .navbar-right {
    float: right !important;
    margin-top: 5px;
  }
  /* Remove the bottom border on the panel for visual effect */
  .panel {
    border-bottom: 0;
  }
}
.pad-top-8 {
  padding-top:8px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}