<div class="panel panel-default">

    <div class="form-heading">
      <div class="wave">
        <div>
            <div class="pull-left">
                <span class="step">&nbsp;</span><br/>
                <span class="step-name">THE NOMINEE</span>
            </div>
            <div class="pull-right right">
                <button type="button" class="btn btn-approve" ng-click="approve(employee.id)">APPROVE</button>
                <button type="button" class="btn btn-deny" ng-click="deny(employee.id)">DENY</button>
            </div>
        </div>
            
      </div>
    </div>

    <div class="panel-body">
      <div class="container form">
        
        <div class="row">
          <div class="col-md-12 detail">
            {{employee.get('salutation').name}}
            <h1>{{employee.get('first')}} {{employee.get('last')}}</h1>
            {{employee.get('title').name}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 detail">
            Nominee's Employee Number<br/>
            <span>{{employee.get('number')}}</span>
          </div>
          <div class="col-md-6 detail">
            Sales Organization<br/>
            <span>{{employee.get('so').name}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 detail">
            Region<br/>
            <span>{{employee.get('region').name}}</span>
          </div>
          <div class="col-md-6 detail">
            Work Country<br/>
            <span>{{employee.get('country').name}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 detail">
            Work Address<br/>
            <span>{{employee.get('address')}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 detail">
            Office Phone Number<br/>
            <span>{{formatPhone(employee.get('officeTel'))}}</span>
          </div>
          <div class="col-md-6 detail">
            Mobile Phone Number<br/>
            <span>{{formatPhone(employee.get('mobileTel'))}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 detail">
            Email Address<br/>
            <span>{{employee.get('email') | lowercase}}</span>
          </div>
        </div>

        <div class="gray-container">
          <div class="row">
            <div class="col-md-6 detail">
              Fiscal Year Sales Quota<br/>
              <span>{{employee.get('performance').salesQuota | currency}}</span>
            </div>
            <div class="col-md-6 detail padding-left-50">
              Actual Fiscal Year Sales<br/>
              <span>{{employee.get('performance').sales | currency}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 detail">
              Percent Sales Quota<br/>
              <span>{{employee.get('performance').percentOver}}%</span>
            </div>
            <div class="col-md-6 detail padding-left-50">
              Previous Year Percent of Quota<br/>
              <span>{{employee.get('performance').percentLast}}%</span>
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-11 detail">
            Sales Performance/Results<br/>
            <div class="comment">{{employee.get('comments').performance}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            Sales and Planning Skills<br/>
            <div class="comment">{{employee.get('comments').planning}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            Customer Relationship and Loyalty<br/>
            <div class="comment">{{employee.get('comments').relationship}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            One Agilent Behavior<br/>
            <div class="comment">{{employee.get('comments').behavior}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            Leadership/Role Model<br/>
            <div class="comment">{{employee.get('comments').leadership}}</div>
          </div>
        </div>

        <div class="gray-container">
          <div class="row">
            <div class="col-md-4 detail">
              Nominator<br/>
              <span>{{employee.get('nominator').first}} {{employee.get('nominator').last}}</span>
            </div>
            <div class="col-md-4 detail">
              Nominator's email address<br/>
              <span>{{employee.get('nominator').email | lowercase}}</span>
            </div>
            <div class="col-md-4 detail">
              Work Phone Number<br/>
              <span>{{formatPhone(employee.get('nominator').phone)}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>