<div class="container heading" style="width:700px;">
    <p class="lead">
        <img src="../images/seal.png">
        <p class="lead">
            THE PRESIDENT'S CLUB
        </p>
        <h1>2015 NOMINEES</h1>
    </p>
    <p class="margin-top-30">
        Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
    </p>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#F5F3E3;color:#d3a907;font-size:0.8em;">
        <div class="row">
            <div class="col col-md-4">
                NOMINEE
            </div>
            <div class="col col-md-3">
                NOMINATOR
            </div>
            <div class="col col-md-3">
                STATUS
            </div>
            <div class="col col-md-2">
                
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row padding-top-30 padding-bottom-30" ng-class="{'underline' : !$last}" ng-repeat="employee in employees">
            <div class="col col-md-4">
                <span class="listName">{{employee.first}} {{employee.last}}</span><br/>
                <span class="listTitle">{{employee.title}}</span>
            </div>
            <div class="col col-md-3">
                {{employee.nominator.name}}
            </div>
            <div class="col col-md-3" ng-style="myColor={color:(employee.nomStatus === 'Denied') ? '#CA4045' : 
                                                        (employee.nomStatus === 'Approved') ? '#d3a907' : '#ccc'}">
                {{employee.nomStatus ? employee.nomStatus : 'Awaiting Approval'}}
              
            </div>
            <div class="col col-md-2" style="text-align:center;">
                <button type="button" class="btn btn-default" ng-click="detail(employee.id)">REVIEW</button>
            </div>
        </div>
    </div>
</div>
