<div class="container heading" style="width:700px;">
    <p class="lead">
        <img src="../images/seal.png">
    </p>
    <p class="margin-top-30">
        Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
    </p>
</div>
<div class="container login margin-top-30" style="width:700px;">
    <form name="userForm" ng-submit="next()" novalidate>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <input type="email" name="email" class="form-control required" placeholder="email address" ng-model="user.email" required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="error">Email is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <input type="password" name="password" class="form-control required" placeholder="password" ng-model="user.password" required>
                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="error">Password is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6">
                <button type="submit" class="btn btn-primary light btn-lg btn-block">SIGN IN</button>
                <!-- ng-disabled="userForm.$invalid" -->
            </div>
            <div class="col col-md-3"></div>
        </div>
    </form>
</div>
