<div class="container heading" style="width:700px;">
    <p class="lead">
        <img src="../images/seal.png">
    </p>
    <p class="margin-top-30">
        Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
    </p>
    <p ng-show="globals.loader.show" class="loader">
        Signing in...
    </p>
</div>
<div class="container login margin-top-30" style="width:700px;" ng-hide="globals.loader.show">
    <form name="signupForm" ng-submit="trySignup()" novalidate ng-hide="signIn">
        <!-- <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
                <input type="text" name="username" class="form-control required" placeholder="username" ng-model="username" required>
                <p ng-show="signupForm.username.$invalid && !signupForm.username.$pristine" class="error">username is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div> -->
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
                <input type="email" name="email" class="form-control required" placeholder="email address (will be your username)" ng-model="signupEmail" required>
                <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="error">Email is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                <input type="password" name="password" class="form-control required" placeholder="create password" ng-model="signupPassword" required>
                <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="error">Password is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6">
                <button type="submit" class="btn btn-primary light btn-lg btn-block" ng-disabled="signupForm.$invalid">SIGN UP</button>
            </div>
            <div class="col col-md-3"></div>
        </div>
    </form>
    <form name="userForm" ng-submit="tryLogin()" novalidate ng-show="signIn" ng-enter="scaleUp">
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <input type="email" name="email" class="form-control required" placeholder="email address" ng-model="email" required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="error">Email is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <input type="password" name="password" class="form-control required" placeholder="password" ng-model="password" required>
                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="error">Password is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6">
                <button type="submit" class="btn btn-primary light btn-lg btn-block" ng-disabled="userForm.$invalid">SIGN IN</button>
            </div>
            <div class="col col-md-3"></div>
        </div>
    </form>
    <div style="text-align:center;margin-top:5px;cursor:pointer;">
        <a ng-click="signIn = false" ng-show="signIn"><i class="fa fa-angle-right"></i> or sign up</a>
        <a ng-click="signIn = true" ng-hide="signIn"><i class="fa fa-angle-right"></i> or sign in</a>
    </div>
    <div class="clear-both" ng-show="loginError">
        <div class="alert alert-danger" role="alert">{{alert.msg}}</div>
    </div>
</div>
