 <div class="container heading">
      <p class="lead">
        THE PRESIDENT'S CLUB
      </p>
      <h1>NOMINATION FORM</h1>
      <p class="margin-top-30">
        Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
      </p>
      <p class="margin-top-30">
        <a class="btn btn-primary btn-lg light" ng-href="#/">NOMINEE CRITERIA</a>
      </p>
  </div>

  <div class="panel panel-default margin-top-30">

    <div class="form-heading">
      <div class="wave">
        <div>
          <div class="pull-right">* <span class="required">DENOTES REQUIRED FIELD</span></div>
          <span class="step">STEP {{step}}</span><br/>
          <span class="step-name">THE NOMINATOR</span>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="container form">
        <form name="userForm" ng-submit="next()" novalidate>

          <div class="row">
            <div class="col col-md-4">
              <span class="required">*</span> Is the submitter different from the nominator?<br/>
              <label>
                <input type="checkbox"
                 ng-model="user.submitter"
                 ng-true-value="'Yes'"
                 ng-false-value="'No'">
                Yes
              </label>
            </div>
          </div>

          <div ng-if="user.submitter === 'Yes'">
            <div class="row">
              <div class="col col-md-3" ng-class="{ 'has-error' : userForm.sfirst.$invalid && !userForm.sfirst.$pristine }">
                <span class="required">*</span> Submitter's First Name
                <input type="text" name="sfirst" class="form-control required" placeholder="" ng-model="user.submitterFirst" required>
                <p ng-show="userForm.sfirst.$invalid && !userForm.sfirst.$pristine" class="error">First name is required.</p>
              </div>

              <div class="col col-md-3" ng-class="{ 'has-error' : userForm.slast.$invalid && !userForm.slast.$pristine }">
                <span class="required">*</span> Submitter's Last Name
                <input type="text" name="slast" class="form-control required" placeholder="" ng-model="user.submitterLast" required>
                <p ng-show="userForm.slast.$invalid && !userForm.slast.$pristine" class="error">Last name is required.</p>
              </div>
            </div>

            <div class="row">
              <div class="col col-md-3" ng-class="{ 'has-error' : userForm.semail.$invalid && !userForm.semail.$pristine }">
                <span class="required">*</span> Submitter's Email
                <input type="email" name="semail" class="form-control required" placeholder="" ng-model="user.submitterEmail" required>
                <p ng-show="userForm.semail.$invalid && !userForm.semail.$pristine" class="error">Email is required.</p>
              </div>
            </div>
          </div>

          <hr/>

          <button type="submit" class="btn btn-form">SUBMIT NOMINATION</button>
          <!-- ng-disabled="userForm.$invalid" -->
        </form>
      </div>
    </div>
    
  </div>
