<div class="container heading">
    <h1>THANKS FOR YOUR NOMINATION</h1>
    <p class="margin-top-30">
        Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
    </p>
    <div class="container form margin-top-30">
        <button type="button" class="btn btn-form" ng-click="view()" ng-if="currentUser">VIEW NOMINEES</button>
        <button type="button" class="btn btn-form" ng-click="restart()">NOMINATE ANOTHER</button>
    </div>
    <p>
        <a ng-click="restart()" style="color:#fff;"><i class="fa fa-angle-left padding-right-5"></i> RETURN TO HOME</a>
    </p>
</div>
